{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link type="text/css" media="all" href="{{ asset("assets/fonts/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ asset("assets/boostrap-files/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ asset("assets/css/animate.css") }}" rel="stylesheet" />
    <link type="text/css" media="all" href="{{ asset("assets/css/style.css") }}" rel="stylesheet" />
    <link href="{{ asset("assets/css/colour-scheme/color-blue.css") }}" rel="stylesheet" type="text/css" data-color="color-blue" media="all" id="stylesheet-new">
    <link type="text/css" media="all" href="{{ asset("assets/css/respons.css") }}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("assets/img/favicons/apple-touch-icon-144x144.png") }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("assets/img/favicons/apple-touch-icon-114x114.png") }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("assets/img/favicons/apple-touch-icon-72x72.png") }}" />
    <link rel="apple-touch-icon" href="{{ asset("assets/img/favicons/apple-touch-icon.png") }}" />
    <link rel="shortcut icon" href="{{ asset("assets/img/favicons/favicon.png") }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

    <!-- Load page -->
    <div class="animationload">
        <div class="loader"></div>
    </div>
    <!-- End load page -->

    <div id="wraper">
        <!-- Start Home-header section -->
        <section class="home-header border-bottom padding-block">
            <!-- start container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 text-right">
                        <!-- Foto -->
                        <div class="foto">
                            <img src="{{ asset("assets/img/photo.jpg") }}">
                        </div>
                        <!-- End foto -->
                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7">
                        <!-- Your Name -->
                        <h1 class="title">Ovidiu Enache</h1>
                        <!-- Your Profession -->
                        <h3 class="sub-title">Full Stack Web Developer</h3>
                        <!-- social icon -->
                        <div class="social">
                            <ul class="animated" data-animation="fadeIn" data-animation-delay="600">
                                <!-- social icons -->
                                <li><a class="ukie-icons hover-animate" href="https://www.facebook.com/ionutz.enache.16"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="https://www.linkedin.com/in/ovidiu-enache-72aa6a113/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="https://github.com/ovidiuenache"><i class="fa fa-github-alt"></i></a></li>
                            </ul>
                        </div>
                        <!-- end social icon -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- End Home-header section -->

        <!-- Start Menu section -->
        <nav class="menu">
            <!-- start container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12">

                        <!-- start menu block (profile) -->
                        <a href="{{ path("profile") }}" class="menu-li">
                            <!-- img menu block -->
                            <span class="foto">
                                <img src="{{ asset("assets/img/menu/profile.png") }}" class="menu-img" data-img-name="profile" alt="Ukieweb" />
                                <!-- name menu block -->
                            </span>
                            <span class="name">Profile</span>
                        </a>
                        <!-- end menu block (profile) -->

                        <!-- start menu block (resume) -->
                        <a href="{{ path("resume") }}" class="menu-li">
                            <!-- img menu block -->
                            <span class="foto">
                                <img src="{{ asset("assets/img/menu/resume.png") }}" class="menu-img" data-img-name="resume" alt="Ukieweb">
                            </span>
                            <!-- name menu block -->
                            <span class="name">Resume</span>
                        </a>
                        <!-- end menu block (resume) -->

                        <!-- start menu block (portfolio) -->
                        <a href="{{ path("portofolio") }}" class="menu-li">
                            <!-- img menu block -->
                            <span class="foto">
                                <img src="{{ asset("assets/img/menu/portfolio.png") }}" class="menu-img" data-img-name="portfolio" alt="Ukieweb">
                            </span>
                            <!-- name menu block -->
                            <span class="name">Portfolio</span>
                        </a>
                        <!-- end menu block (portfolio) -->

                        <!-- start menu block (contact) -->
                        <a href="{{ path("contact") }}" class="menu-li">
                            <!-- img menu block -->
                            <span class="foto">
                                <img src="{{ asset("assets/img/menu/contact.png") }}" class="menu-img" data-img-name="contact" alt="Ukieweb">
                            </span>
                            <!-- name menu block -->
                            <span class="name">Contact</span>
                        </a>
                        <!-- end menu block (contact) -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </nav>
        <!-- End Menu section -->

        <!-- Start Footer section -->
        <footer class="footer">
            <!-- start container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <!-- start phone number -->
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <a href="#" class="hover-animate">
                            <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +40770550973
                        </a>
                    </div>
                    <!-- end phone number -->
                    <!-- start email -->
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <a href="#" class="hover-animate">
                            <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> i.ovidiuenache@yahoo.com
                        </a>
                    </div>
                    <!-- end email -->
                    <!-- start address -->
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <a href="#" class="hover-animate">
                            <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span> 72 Plopilor St, Cluj-Napoca
                        </a>
                    </div>
                    <!-- end address -->
                    <!-- start Copyright -->
                    <div class="col-xs-12 col-sm-6 col-lg-3 text-right">
                        <span class="copyright">Copyright © 2018 All right reserved</span>
                    </div>
                    <!-- end Copyright -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- End Footer section -->
    </div>

    <!-- Scroll to Top -->
    <a href="index.html#" class="btn scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!-- End Scroll to Top -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/js/jquery-1.11.2.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/boostrap-files/js/bootstrap.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.appear.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.nicescroll.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.mixitup.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.magnific-popup.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.magnific-popup.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.inview.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.knob.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/jquery.cookie.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/js/scripts.js") }}" type="text/javascript"></script>
{% endblock %}